.table-row {
  cursor: pointer;
  &.dropdown {
    background-color: #f0f0f0;
  }
}

th,
td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #a3d89f;
}

td {
  border-top: 1px solid #dee2e6;
}

.table-row {
  cursor: pointer;

  &.level-0 {
    td {
      padding-left: 64px;
    }
  }

  &.level-1 {
    td {
      padding-left: 100px;
    }
  }

  &.level-2 {
    td {
      padding-left: 200px;
    }
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 100px;
  &.filter {
    padding-bottom: 0;
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    row-gap: 24px;
    label {
      max-width: 350px;
      display: flex;
      align-items: center;
      gap: 16px;
      width: 100%;
      select {
        max-width: 200px;
      }
    }
  }
}
.containerList {
  margin-top: 80px;
}
.thSize {
  background-color: #b8e994;
}

.table-row td {
  position: relative;
  margin-left: 20px;
  &::before {
    content: "\f054";
    font-family: "FontAwesome";
    color: #388e3c;
    margin-left: -20px;
    position: absolute;
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 480px) {
  .table-row td,
  .table-row td:first-child,
  td:first-child {
    padding-left: 60px !important;
  }
}

.table-row.dropdown {
  td::before {
    transform: rotate(90deg);
  }
}
