button {
  background-color: #0a5c36;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

#root {
  background-color: #fff;
  height: 100%;
}
.table-row {
  cursor: pointer;
  background-color: #fff;
  &.dropdown {
    background-color: lightgrey;
  }
}

th,
td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}
thead tr th {
  border-right: 1px solid lightgrey;
}

th {
  background-color: #fff;
  color: #352f44;
}
tr {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

tr:hover {
  background-color: #a3d89f;
}

td {
  border-top: 1px solid #dee2e6;
}

.table-row {
  cursor: pointer;
  border: 1px solid lightgrey;

  &.level-0 {
    td {
      padding-left: 64px;
    }
  }

  &.level-1 {
    td {
      padding-left: 100px;
    }
  }

  &.level-2 {
    td {
      padding-left: 200px;
    }
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 100px;
  &.filter {
    padding-bottom: 0;
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    row-gap: 24px;
    label {
      max-width: 350px;
      display: flex;
      align-items: center;
      gap: 16px;
      width: 100%;
      select {
        max-width: 200px;
      }
    }
  }
}
.containerList {
  margin-top: 80px;
}
.thSize {
  background-color: #fff;
  border: none;
}

.table-row td {
  position: relative;
  margin-left: 20px;
  &::before {
    content: "\f054";
    font-family: "FontAwesome";
    color: #388e3c;
    margin-left: -20px;
    position: absolute;
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 480px) {
  .table-row td,
  .table-row td:first-child,
  td:first-child {
    padding-left: 60px !important;
  }
}

.table-row.dropdown {
  td::before {
    transform: rotate(90deg);
  }
}

/* Night mode styles */
.night-mode {
  background-color: #2e2e2e;
  color: #f0f0f0;
  height: 100vh;

  button {
    background-color: #444444;
    color: #ffffff;
  }

  .table-row {
    background-color: #111111;
    &:hover {
      background-color: #212f45 !important;
    }
    cursor: pointer;
    &.dropdown {
      background-color: #111111;
    }
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
  }
  thead tr th {
    border-right: none;
  }

  th {
    background-color: #343434 !important;
    color: #fff;
  }
  tr {
    background-color: #232323;
  }

  tr:hover {
    background-color: #212f45;
  }

  tr:nth-child(odd) {
    background-color: #111111;
    &:hover {
      background-color: #212f45 !important;
    }
  }
  td {
    border-top: none;
  }

  .table-row {
    cursor: pointer;
    border: none;

    &.level-0 {
      td {
        padding-left: 64px;
      }
    }

    &.level-1 {
      td {
        padding-left: 100px;
      }
    }

    &.level-2 {
      td {
        padding-left: 200px;
      }
    }
  }

  .thSize {
    background-color: #343434;
    border: none;
  }

  .table-row td {
    position: relative;
    margin-left: 20px;
    &::before {
      content: "\f054";
      font-family: "FontAwesome";
      color: #388e3c;
      margin-left: -20px;
      position: absolute;
      transition: all 0.2s ease-in-out;
    }
  }

  @media (max-width: 480px) {
    .table-row td,
    .table-row td:first-child,
    td:first-child {
      padding-left: 60px !important;
    }
  }

  .table-row.dropdown {
    td::before {
      transform: rotate(90deg);
    }
  }
}

.buttonContainer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 40px 0;
}
